* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Segoe UI, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 120px;
  margin: 0 15px;
}

.container {
  align-items: flex-start;
}

aside {
  align-items: flex-end;
}

#trybewarts-header-title {
  align-items: center;
  color: white;
  align-self: center;
  font-size: 2.3rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  justify-self: flex-end;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

input,
button {
  text-align: center;
  margin: 10px 5px;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 8px 10px;
}

button {
  background-color: RGB(78, 44, 131);
  color: white;
}

main {
  display: flex;
  justify-content: space-evenly;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.c-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

.c-left,
.c-right {
  display: flex;
}

.c-left div {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.c-right div {
  max-width: 220px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: RGB(61, 64, 75);
}

footer p {
  padding: 10px 0;
  color: white;
  font-family: Roboto, sans-serif;
}
