* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 17px;
  font-family: Roboto, Segoe UI, sans-serif;
}

section {
  margin: 10px 0;
}

.header {
  display: flex;
  background-color: rgb( 50, 167, 145 );
  justify-content: space-between;
}

.trybewarts-header-logo {
  width: 120px;
  margin: 0 15px;
}

.container {
  padding: 15px 0;
  align-items: flex-start;
}

.container h2 , button , input {
  text-align: center;
}

.comment div {
  display: flex;
  align-items: flex-start;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.text-container span {
  position: inherit;
  align-self: flex-end;
  color: rgb( 78, 44, 131 );
  padding: 0 5px 5px;
}

textarea {
  resize: none;
  width: 100%;
  font-size: 1.2rem;
}

aside {
  align-items: flex-end;
}

#trybewarts-header-title {
  align-items: center;
  color: white;
  align-self: center;
  font-size: 2.3rem;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  justify-self: flex-end;
}

.trybewarts-login {
  display: flex;
  justify-content: space-around;
  padding: 0 15px;
}

button , input , .sec-two select {
  margin: 10px 5px;
  font-size: 1.2rem;
  border-radius: 7px;
  padding: 8px 10px;
  background-color: white;
}

button {
  background-color: rgb( 78, 44, 131 );
  color: white;
}

button:disabled {
  background-color: rgb(61, 64, 75);
}

button:active , input:active {
  transform: scale(0.95);
}

main {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}

#evaluation-form {
  width: 675px;
}

.c-div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 10px;
}

#evaluation-form , .c-left , .c-left div , .c-right {
  display: flex;
  flex-direction: column;
}

.c-left , .c-right {
  margin-bottom: 10px;
}

.c-left div {
  min-width: 300px;
}

.c-right div {
  max-width: 240px;
}

#trybewarts-forms-logo {
  height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(61, 64, 75);
}

footer p {
  padding: 10px 0;
  color: white;
  font-family: Roboto, sans-serif;
}
